footer
  .bg-img-watch.bg-size-cover.bg-position-center.h-400px.py-2
    .container.h-100.d-flex.align-items-end
      .row.w-100
        .col.text-white(class="mb-1.25")
          .h2.lh-base
            | 想收到最新消息嗎？
            <br>
            | 快訂閱我們！
        .w-100
        .col-md-4
          .input-group
            input.form-control(type="email", placeholder="請輸入您的電子信箱", aria-label="請輸入您的電子信箱", aria-describedby="email-button")
            button#email-button.btn.btn-lg.btn-primary(class="py-0.75 px-3" type="button") 訂閱

  .container
    .d-flex.align-items-md-end.flex-column.flex-md-row.py-1
      .fs-5.pe-1 EXHIBINECTION
      .fs-6 © 2020. All Rights Reserved.
      nav.d-none.d-md-block.ms-auto
        ul.list-inline.mb-0
          li.d-md-inline.d-none.p-1: a.link-gray(href="javascript:;") Sign in 
          li.d-md-inline.d-none.p-1: a.link-gray(href="javascript:;") Sign up