header.border(class="py-1.25 py-md-1.75")
  .container.d-flex.justify-content-end.position-relative
    .logo.position-absolute.top-50.start-50.translate-middle
      a(href="./")
        h1.fs-4.text-secondary EXHIBINECTION
    nav
      ul.list-inline.mb-0
        li.d-md-inline.d-none.p-1: a.link-gray(href="javascript:;") Sign in 
        li.d-md-inline.d-none.p-1: a.link-gray(href="javascript:;") Sign up
        li.d-inline.p-1: a.link-dark.position-relative(href="javascript:;") 
          span.material-icons confirmation_number
          span.position-absolute.top-0.start-100.translate-middle.badge.rounded-pill.bg-danger 3
            span.visually-hidden unread messages