nav.overflow-scroll
  ul.mb-0.d-flex.justify-content-md-center.list-unstyled
    li: a.link-gray.d-inline-block.text-nowrap(href="product.html" class="p-0.5 m-0.5 link-hover hover:underline") 音樂
    li: a.link-gray.d-inline-block.text-nowrap(href="product.html" class="p-0.5 m-0.5 link-hover hover:underline") 戲劇
    li: a.link-gray.d-inline-block.text-nowrap(href="product.html" class="p-0.5 m-0.5 link-hover hover:underline") 設計
    li: a.link-gray.d-inline-block.text-nowrap(href="product.html" class="p-0.5 m-0.5 link-hover hover:underline") 藝術
    li: a.link-gray.d-inline-block.text-nowrap(href="product.html" class="p-0.5 m-0.5 link-hover hover:underline") 美食
    li: a.link-gray.d-inline-block.text-nowrap(href="product.html" class="p-0.5 m-0.5 link-hover hover:underline") 旅遊
    li: a.link-gray.d-inline-block.text-nowrap(href="product.html" class="p-0.5 m-0.5 link-hover hover:underline") 電影
    li: a.link-gray.d-inline-block.text-nowrap(href="product.html" class="p-0.5 m-0.5 link-hover hover:underline") 親子
    li: a.link-gray.d-inline-block.text-nowrap(href="product.html" class="p-0.5 m-0.5 link-hover hover:underline") 期間限定