extends _layout

block title
  title Product | #{site_name}

block content
  .d-none.d-md-block
    include _nav-type

  - var data = [{title: "2020 台味設計展", content:"一年一度的台味設計展由經濟部工業局主辦、台灣創意設計中心執行，每年，針對在地生活、文化及產業發展特色，運用設計思考詮釋新時代的意涵，並以展覽呈現在地設計。"}, {title: "No.22 線上設計展", content:"這是一個專屬於設計系畢業生的展覽，沒有華麗的名號、沒有浮誇的獎賞。讓我們用作品與理念，去碰撞真實世界裡的各種問題，創造更多美好的人事物。讓這個地球、這個世界變成每一個人心目中的理想鄉。"}, {title: "高雄設計節", content:"設計大高雄究竟是怎麼一回事？在這「設計」詞彙有點氾濫的年代，或許我們也搞不清楚究竟誰被誰設計了，設計生活？還是被生活設計？而當高雄這座城市建設硬體已相當程度完備時，文化軟實力又該如何輸出？"}];

  section(class="mb-2 mb-md-3.75")
    ul.list-unstyled
      each val, index in data
        li(class= index%2==0 ? "bg-secondary text-white py-3 pt-md-5" : "text-secondary py-3 pt-md-5")
          .container: .row
            .col-lg-5(class="mb-1.25 mb-md-0")
              img.img-fluid(src="images/list0"+(index+1)+".jpg")
            .col-lg-1.align-self-end(class="mb-0.75 mb-0")
              .fs-6.fs-md-5.fw-md-bold
                span.d-md-block 01 
                span.d-md-block JUN
                span.d-md-none —
                span.d-none.d-md-block | 
                span.d-md-block 31
                span.d-md-block OCT
            .col-lg-4.order-lg-first(class= index%2==0 ? "" : "offset-lg-2")
              h2.fs-3.fs-md-2(class="mb-0.5 mb-md-1.5") #{val.title}
              p #{val.content}

  include _swiper