.d-table {
  display: table;
}

.d-inline-block {
  display: inline-block;
}

.d-flex {
  display: flex;
}

.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}