.img-object-cover {
  object-fit: cover;
}

.img-object-bg {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-full {
  width: 100%;
  height: auto;
}