.bg-img-inside {
  background-image: url('../images/bg-inside.jpg');
}

.bg-img-flow {
  background-image: url('../images/bg-flow.png');
}

.bg-img-watch {
  background-image: url('../images/bg-watch.jpg');
}
