.bg-heading.d-none.d-md-block
  nav.container
    ul.d-flex.list-unstyled.mb-1.py-1.fs-lg-5
      li.me-3
        a.link.link-darken--hover.text-white(href="javascript:;") 最新消息
      li.mx-3
        a.link.link-darken--hover.text-white(href="javascript:;") 特別企劃 
      li.mx-3
        a.link.link-darken--hover.text-white(href="javascript:;") 新品上市 
      li.mx-3
        a.link.link-darken--hover.text-white(href="javascript:;") 鏡框小知識 
      li.ms-auto
        a.link.link-darken--hover.text-white(href="javascript:;")
          span.material-icons-outlined.fs-lg-4 search