footer.footer.bg-primary
  .container
    .d-flex.justify-content-between
      div
        nav.footer__nav.mb-3.mt-lg-2
          ul.list-unstyled.mb-0
            li: a(href="index.html") 首頁
            li: a(href="product-op.html") 系列鏡框
            li: a(href="location.html") 門市據點
            li: a(href="blog.html") 部落格
            li: a(href="faq.html") 常見問題
        address.footer__address
          ul.list-unstyled.mb-0
            li
              a(href="tel:0800-000-000")
                span.material-icons-outlined call 
                | 0800-000-000
            li
              a(href="mailto:glasses@business.com")
                span.material-icons-outlined email 
                | glasses@business.com
      ul.footer__social.list-unstyled.mb-0
        li: a.link.ps-1.ps-md-3(href="javascript:;")
          img(src="images/icon-fb.svg", alt="instagram")
        li: a.link.ps-1.ps-md-3(href="javascript:;") 
          img(src="images/icon-ig.svg", alt="instagram")
        li: a.link.ps-1.ps-md-3(href="javascript:;") 
          img(src="images/icon-line.svg", alt="line")
    .footer__copyright
      span.mb-1 Copyright © 2020 Glasses.All rights reserved.
      ul.list-unstyled.mb-0
        li.mb-1: a(href="javascript:;") 隱私權政策
        li.mb-1: a(href="javascript:;") 服務條款