header.header.bg-primary
  .header__logo 
    a(href="index.html")
      img(src="images/logo.png", alt="logo")
  nav.header__nav
    ul.list-unstyled.mb-0
      li: a(href="product-op.html") 系列鏡框
      li: a(href="location.html") 門市據點
      li: a(href="blog.html") 部落格
      li: a(href="faq.html") 常見問題