extends _layout

block title
  title 常見問題 | #{site_name}

block content
  .container.pb-lg-10.pb-md-6.pb-3
    h1.title.title-page 常見問題
    .fs-md-4.fs-5.mb-lg-5.mb-3 我想詢問配鏡問題
    dl.row.mb-6
      dt.col-12.mb-md-2.mb-1.fs-5.
        Q1.請問可否自備鏡框單配鏡片？
      dd.col-12.col-md-11.offset-md-1.mb-4.
        A1.我牌鏡框搭配薄型非球面鏡片1480元，搭配功能型鏡片則依鏡片種類加價購買。 當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片980元(隔日後則為1480元)，搭配功能型鏡片則依鏡片種類加價購買。 他牌鏡框，搭配薄型非球面鏡片1980元，搭配功能型鏡片則依鏡片種類加價購買。
      
      dt.col-12.mb-md-2.mb-1.fs-5.
        Q2.眼鏡都可以20分鐘取件嗎？
      dd.col-12.col-md-11.offset-md-1.mb-4.
        A1.我牌鏡框搭配薄型非球面鏡片1480元，搭配功能型鏡片則依鏡片種類加價購買。 當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片980元(隔日後則為1480元)，搭配功能型鏡片則依鏡片種類加價購買。 他牌鏡框，搭配薄型非球面鏡片1980元，搭配功能型鏡片則依鏡片種類加價購買。

      dt.col-12.mb-md-2.mb-1.fs-5.
        Q3.散光鏡片需要額外加價嗎？
      dd.col-12.col-md-11.offset-md-1.mb-4.
        A1.我牌鏡框搭配薄型非球面鏡片1480元，搭配功能型鏡片則依鏡片種類加價購買。 當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片980元(隔日後則為1480元)，搭配功能型鏡片則依鏡片種類加價購買。 他牌鏡框，搭配薄型非球面鏡片1980元，搭配功能型鏡片則依鏡片種類加價購買。

      dt.col-12.mb-md-2.mb-1.fs-5.
        Q4.我可以使用舊眼鏡的度數配鏡片嗎？
      dd.col-12.col-md-11.offset-md-1.mb-4.
        A1.我牌鏡框搭配薄型非球面鏡片1480元，搭配功能型鏡片則依鏡片種類加價購買。 當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片980元(隔日後則為1480元)，搭配功能型鏡片則依鏡片種類加價購買。 他牌鏡框，搭配薄型非球面鏡片1980元，搭配功能型鏡片則依鏡片種類加價購買。

      dt.col-12.mb-md-2.mb-1.fs-5.
        Q5.請問可以單購買鏡框嗎？
      dd.col-12.col-md-11.offset-md-1.mb-4.
        A1.我牌鏡框搭配薄型非球面鏡片1480元，搭配功能型鏡片則依鏡片種類加價購買。 當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片980元(隔日後則為1480元)，搭配功能型鏡片則依鏡片種類加價購買。 他牌鏡框，搭配薄型非球面鏡片1980元，搭配功能型鏡片則依鏡片種類加價購買。