extends _layout

block title
  title 門市據點 | #{site_name}

block content
  .container.pb-lg-8.pb-md-10.pb-5
    h1.title.title-page 門市據點
    form
      .row.align-items-center.mb-lg-5.mb-3
        label.col-auto.fs-4 選擇地區
        .col-3
          select.form-select
            option(selected) 台北市

    .row.mb-lg-8
      .col-lg-5.mb-md-4.mb-2
        .row.flex-column.flex-md-row.align-items-center
          .col-lg-12.col-md-6.col-12
            .ratio(style="--bs-aspect-ratio: 63%;")
              img.img-object-cover(src='images/locate1.jpg' alt='店內照片')
          .col-lg-12.col-md-6.col-12
            .border
              .fs-5.card-title.px-3.py-1.border-bottom 台北中山旗艦店
              .card-body.px-3
                .card-text
                  .d-table
                    .d-table-row
                      .d-table-cell.pe-1.pb-1
                        span.material-icons-outlined call
                      .d-table-cell.
                        電話：(02)000-1234
                    .d-table-row
                      .d-table-cell.pb-1
                        span.material-icons-outlined schedule
                      .d-table-cell.
                        營業時間：10:00-21:00
                    .d-table-row
                      .d-table-cell.pb-1
                        span.material-icons-outlined place
                      .d-table-cell.
                        地址：台北市中山區南京東路25巷2-1號
      .col-lg-7.col-12.mb-2
        .ratio.ratio-4x3
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.444700694708!2d121.51808746607468!3d25.05291238396354!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a9365221dba9%3A0x6a5120872666f940!2z5rKQ55SwTm8uMi0x5rau5rau5bel5bug!5e0!3m2!1szh-TW!2stw!4v1626893586959!5m2!1szh-TW!2stw" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
