doctype html
html(lang="zh-TW")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Joanne Chen 自我介紹
    link(rel="stylesheet", href="css/style.css")
    base(href="https://hexschool.github.io/webLayoutTraining1st/week1/" target="_blank")
  body
    main.main
      section.container
        h1.title.title--name.mt-4
          .name Joanne Chen
        img.my-6.img-fluid(src="photo.png", alt="Joanne Chen's photo")

      section.mb-9.container
        h2.title.title--section
          | 個人資料
          span Profile
        p.mb-3
          | 陳久安 Joanne Chen
          br
          | 1997-
          br
          | 應屆畢業生／接案設計師／UI 設計實習生

        p.mb-3
          | UI 設計修行中／立志當斜槓青年
          br
          | 獨立接案，內容涵蓋：
          br
          | 品牌規劃、視覺設計、編輯設計、標準字、物件及印刷品設計等。

      section.mb-9.container
        h2.title.title--section
          | 學歷
          span Education
        ul
          li.mb-3 國立六角師範大學 視覺設計學系 學士學位 | 2016－2020
          li 國立六腳高級中學 美術班 | 2013－2016
      
      section.mb-9.pt-3.pb-4.bg-blue.text-white
        .container
          h2.title.title--section.d-flex-center.border-white.mx-6.pb-1.mb-5
            | 技能
            span.text-white Skills
          ul.d-table.mx-auto.border-left.border-white.text-weight-lighter.px-3
            li.mb-2 Adobe Photoshop
            li.mb-2 Adobe Illustrator
            li.mb-2 Adobe XD
            li.mb-2 Adobe Indesign
            li.mb-2 C4D
            li.mb-2 Adobe Premiere
            li 語言：中文、英文
        
      section.mb-9.container
        h2.title.title--section
          | 工作經驗
          span Work Experience
        ul.list-content
          li.mb-3
            h3 六角學院 視覺設計實習生 | 2019/07－2020/06
            div
              img.my-1(src="Group%201.svg", alt="logo-hexschool")
              p.mb-3.
                在六角學院長達一年的實習中，前期藉由公司課程掌握 HTML, CSS, Adobe
                XD，設計給學員使用的名片設計教材，並參與六角週年活動，設計各式周邊商品及活動網路宣傳圖。後期進入
                UI 設計範疇，設計六角共筆部落格 -
                W3HexSchool、六角發案服務網介面設計、供給學員的教案 -
                RWD官方網站設計，並設計各式網頁活動宣傳圖。
          li.mb-3: h3 獨立接案 Hao Jun 酒標設計 | 2019
          li.mb-3: h3 獨立接案 Exulans 酒標設計 | 2019
          li.mb-3: h3 獨立接案 桃園平鎮市民健走活動提案 | 2019
          li
            h3 Simtree 興趣咖啡 工讀生 | 2018－2019
            div
              img.my-1(src="simtree.png", alt="logo-simtree")
              p.mb-3 擔任外場及吧台服務生，學習咖啡相關知識。
      
    footer.footer.bg-blue.text-white.pt-3.pb-6
      .container
        h2.title.title--section.d-flex-center.pb-1.mb-4.border-white
          | 聯絡方式
          span.text-white CONTACT METHOD
        address.text-weight-lighter
          ul.text-center
            li.mb-2 Mail：
              a(href="mailto:xxxd@hexschool.com") xxxd@hexschool.com
            li.mb-2 Phone：
              a(href="tel:+886910123456") 0910123456
            li.mb-2 Kaohsiung, Taiwan
            li.mb-2 作品連結：
              a(href="https://www.behance.net/xxxdddddd") https://www.behance.net/xxxdddddd

          ul.list-social.d-flex-center
            li: a(href="#")
              img.img-fluid(src="facebook.svg", alt="facbook") 
            li.px-3: a(href="#")
              img.img-fluid(src="instagram-alt.svg", alt="instagram") 
            li: a(href="#")
              img.img-fluid(src="line.svg", alt="line") 